
<div class="carousel-top" *ngIf="carouselVertical || carouselsPrincipal">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let carousel of carouselsPrincipal; let first=first; let i=index" [ngClass]="{'active': first}">
            <img class="d-block img-carousel-1" [src]="carousel.url" alt="banner">
          </div>
        </div>
      </div>
</div>

<div class="carousel-bottom" *ngIf="carouselHorizontal || carouselsSecondary">
    <div class="row">
        <div class="col-md-4"  *ngFor="let carousel of carouselsSecondary">
            <img class="d-block img-carousel-2" [src]="carousel.url" alt="banner">
        </div>
    </div>
</div>