body{
    background-color: black;
    
}

#wall{
padding: 20px 20% 20px 20%;
font-family: 'Lato', sans-serif;
font-weight: 900;
color: white;


background: linear-gradient(172deg, #0a0a0a, #09b913);
    background-size: 400% 400%;  
    animation: AnimationName 20s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}




#format{

    border-radius: 15px;
background-color: black;

padding: 20px;
}


#wall > #format{
margin: 50px;

}

.icon{
    width: 16px;
    height: 16px;
    color: white;
}

#userphoto{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
}

.ladoizquierdo p span{
    font-style: oblique;
    margin-left: 10px;
    border-radius: 10px;
    color: yellowgreen;
    
}

td p{
    font-style: oblique;
    
}

.me ~ p{
    font-style: oblique;
    
}

h2{
    font-weight: bold;
    
}

table *{
    color: white;
} 

hr{
    background-color: white;
}

h2{
    color: yellowgreen;
}


th p{
    color: yellowgreen;
}


