<div>
    <h2 id="page-heading">
        <span>Banners</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-banner" [routerLink]="['/banner/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Banner
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="banners?.length === 0">
        <span>No banners found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="banners && banners.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nombre</span></th>
                    <th scope="col" ><span>Image</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let banner of banners ;trackBy: trackId">
                    <td><a [routerLink]="['/banner', banner.id, 'view']">{{ banner.id }}</a></td>
                    <td>{{ banner.nombre }}</td>
                    <td>
                        <a *ngIf="banner.image" (click)="openFile(banner.imageContentType, banner.image)">
                            <img [src]="'data:' + banner.imageContentType + ';base64,' + banner.image" style="max-height: 30px;" alt="banner image"/>
                        </a>
                        <span *ngIf="banner.image">{{ banner.imageContentType }}, {{ byteSize(banner.image) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/banner', banner.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/banner', banner.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(banner)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
