#admin_aside{
    background-color: rgb(51, 51, 51);
    position: fixed;
    width: 160px;
    height: 100%;
    color: white;

    .header_aside{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        border-bottom: 1px solid rgb(123, 123, 123);
        color: white;
    }

    .admin_actions{
        a.nav-link{
            color: #fff;
            &:hover{
                background-color: #fd9320;
                color: #000;
            }

            &.active{
                background-color: #fd9320;
                color: #000;
            }

        }


    }
}