<section id="admin_aside">
    <div class="header_aside">
        Dashboard
    </div>
    <div class="admin_actions">
        <ul>
            <li>
                <a class="nav-link" routerLink="/admin/carousel-list" routerLinkActive="active">
                    <i class="far fa-images"></i>
                    &nbsp;
                    Carousel
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/product-list" routerLinkActive="active">
                    <i class="fas fa-tshirt"></i>
                    &nbsp;
                    Producto</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/category-list" routerLinkActive="active">
                    <i class="fas fa-stream"></i>
                    &nbsp;
                    Categoria</a>
            </li>
        </ul>
    </div>
</section>

