@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=auto');

$font-stack: (
    'Montserrat',
    sans-serif
);

$primary-color: rgb(4, 4, 4);
$secondary-color: rgb(253, 147, 32);
$tertiary-color: rgb(192, 192, 192);

$bg-primary: rgb(255, 255, 255);
$bg-secondary: rgb(237, 237, 237);
$bg-fav:rgb(255, 255, 255);
$bg-stock: rgb(0, 0, 0);

$btn-primary: rgb(255, 255, 255);
$btn-secondary: rgb(0, 0, 0);

$h1: 22px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$p: 14px;

$margin-center: 0 auto;
