.wrapper{
    display: grid;
    grid-template-columns: 160px calc(100% - 160px);
    grid-gap: 0;
    grid-auto-rows: minmax(4,auto);
}

app-aside{
    grid-column: 1;
    grid-row: 1/4;
}

app-header{
    grid-column: 2;
    grid-row: 1;
}

app-footer{
    grid-column: 2;
    grid-row: 3;
}

main{
    grid-column: 2;
    grid-row: 2;
}
