#admin_product_list{
    background-color: rgb(235, 235, 235);
    padding: 50px;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:100px;
    }
    main{
        margin-top: 10px;
        padding: 20px 0;
        background-color: white;
        border-radius: 10px;

        table{
            width: 100%; 

            td, th {
                text-align: left;
                padding: 8px;
              }

              td:first-child, td:last-child, th:first-child,
              th:last-child{
                text-align: center;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }
        }
    }
}