<div class="breadcrumbs">
    <ul>
        <li class="breadcrumb_item">
            <button class="btn-volver" type="button" (click)="back()">
                <i class="fas fa-chevron-left"></i>
                <span class="bold">
                    Volver
                </span>
            </button>
        </li>
        <li class="breadcrumb_item">
            <a class="breadcrumb_link" routerLink="/">Home</a>
        </li>
        <li *ngIf="!product" class="breadcrumb_item">
            <span class="separator">/</span>
            <span>Shop</span>
        </li>
        <li *ngIf="product" class="breadcrumb_item">
            <span class="separator">/</span>
            <a class="breadcrumb_link" routerLink="/shop">Shop</a>
        </li>
        <li *ngIf="product" class="breadcrumb_item">
            <span class="separator">/</span>
            <span>{{product.name | lowercase}}</span>
        </li>
    </ul>
</div>