<nav class="top-header">
  <ul>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/shop" routerLinkActive="active">Tienda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
  </ul>

  <div class="logo-container">
    <img class="logo" src="../../../assets/logo/logo.png" alt="logo pequeño empresa">
  </div>

  <ul>
    <li class="nav-item lenguaje">
      <a class="nav-link">ES <i class="fas fa-angle-down"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="fas fa-search"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="far fa-user"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="far fa-heart"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="fas fa-shopping-cart"></i></a>
    </li>
  </ul>
</nav>