<section id="footer-content-principal" class="container-fluid">
    <div class="container content-wrapper">
        <div class="row">
            <div class="col-md-3">      
                <ul>
                    <li>
                        <h5>PRODUCTOS</h5>
                    </li>
                    <li>
                        <a class="footer-link">Calzado</a>
                    </li>
                    <li>
                        <a class="footer-link">Ropa</a>
                    </li>
                    <li>
                        <a class="footer-link">Accesorios</a>
                    </li>
                    <li>
                        <a class="footer-link">Novedades</a>
                    </li>
                    <li>
                        <a class="footer-link">Outlet</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <ul>
                    <li>
                        <h5>DEPORTES</h5>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Futbol</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Baloncesto</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Golf</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Training</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Rugby</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <h5>Categorias</h5>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/shop/Zapatillas">Zapatilas</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/shop/Vestidos">Vestidos</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/shop/Tops">Tops</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/shop/Vaqueros">Vaqueros</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/shop/Camisetas">Camisetas</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <h5>ASISTENCIA</h5>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Ayuda y Servicio al Cliente</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Entregas</a>
                    </li>
                    <li>
                        <a class="footer-link"routerLink="/">Devoluciones y rembolsos</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Guía de tallas</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/">Sitemap</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<section id="footer-content-secondary" class="container-fluid">
    <div class="container">
        <div class="copyright-rrss">
            <div class="copyright">
                <span>© Sailor Theme - All Right Reserved</span> <br>
                <span>Designed by me</span>
            </div>
            <app-rrss></app-rrss>
        </div>
    </div>
</section>